@import './../../../../scss/variables';
@import './../../../../scss/mixins';

.contenedor{
    display: grid;
    grid-template-columns: $margenContenido auto $margenContenido;
    border-bottom: 3px solid $colorPrimario;
    background-color: $colorCinco;
    @include tabletLaptop(){
        grid-template-columns: $margenContenido auto 5%;
    }
    .contLogo{
      display: grid;
      grid-template-columns: repeat(2,50%);
      text-align: center;
      padding: 10px 0;
      // text-align: left;
      // padding: 10px 0;
      // @include tabletLaptop(){
      //     text-align: left;
      // }

      .cliente {
        align-self: center;
        justify-self: left;
        width: 40%;

        @include tabletLaptop(){
          width: 20%;
        }
      }

      .santander {
        align-self: center;
        justify-self: right;
        width: 55%;

        @include tabletLaptop(){
          width: 30%;
        }
      }
        // img{
        //     width: 30%;
        //     @include tabletLaptop(){
        //         width: 25%;
        //     }
        // }
      }
    // .santander{

    //   text-align: left;
    //   padding: 10px 0;
    //   @include tabletLaptop(){
    //       text-align: right;
    //   }

    //   img{
    //     width: 30%;
    //     @include tabletLaptop(){
    //         width: 25%;
    //     }
    // }
    // }
}
