<!-- <div class="contenedor">
    <div class="grid"></div>
    <div class="contLogo">
        <img [src]="const.cliente" alt="">
    </div>
    <div class="santander">
      <img [src]="const.santander" alt="">
    </div>
    <div class="grid"></div>
</div> -->

<div class="contenedor">
  <div class="grid"></div>
  <div class="contLogo">
      <img [src]="const.cliente" class="cliente" alt="">
      <img [src]="const.santander" class="santander" alt="">
  </div>
  <div class="grid"></div>
</div>
